<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
    <link th:href="@{/css/calc.css}" rel="stylesheet" type="text/css" />
	<title>電卓</title>
</head>
<body>
    <div class="calculator">
        <p id="id" class="display">0</p>
        <p id="error_msg"></p>
        <div class="buttons">
        	<div>
        		<input type="button" onclick="memory_calc(this.value)" value="MC">
        		<input type="button" onclick="memory_calc(this.value)" value="MR">
        		<input type="button" onclick="memory_calc(this.value)" value="M-">
        		<input type="button" onclick="memory_calc(this.value)" value="M+">
        	</div>
        	<div>
        		<input type="button" onclick="operator_calc(this.value)" value="AC">
        		<input type="button" onclick="operator_calc(this.value)" value="+/-">
        		<input type="button" onclick="operator_calc(this.value)" value="%">
        		<input type="button" onclick="operator_calc(this.value)" value="/">
        	</div>
            <div>
            	<input type="button" onclick="num_calc(this.value)" value="7">
            	<input type="button" onclick="num_calc(this.value)" value="8">
            	<input type="button" onclick="num_calc(this.value)" value="9">
            	<input type="button" onclick="operator_calc(this.value)" value="*">
            </div>
            <div>
            	<input type="button" onclick="num_calc(this.value)" value="4">
            	<input type="button" onclick="num_calc(this.value)" value="5">
            	<input type="button" onclick="num_calc(this.value)" value="6">
            	<input type="button" onclick="operator_calc(this.value)" value="-">
            </div>
            <div>
            	<input type="button" onclick="num_calc(this.value)" value="1">
            	<input type="button" onclick="num_calc(this.value)" value="2">
            	<input type="button" onclick="num_calc(this.value)" value="3">
            	<input type="button" onclick="operator_calc(this.value)" value="+">
            </div>
            <div>
				<input type="button" onclick="num_calc(this.value)" value="0">
				<input type="button" onclick="num_calc(this.value)" value="00">
				<input type="button" onclick="operator_calc(this.value)" value=".">
				<input type="button" onclick="operator_calc(this.value)" value="=">
        	</div>
        </div>
    </div>
    <script th:src="@{/js/calc.js}"></script>
</body>
</html>